page-home {
  ion-content {
      background-color: transparent;
      background-image: url('../assets/background.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  ion-footer {
    color: white;
  }
}
